{% extends 'base.html'%}
{% load static %}
{% block content %}

  <!-- about section -->
  <section class="section" id="about">
    <!-- title -->
    <div class="section-title">
      <h2>about <span>us</span></h2>
    </div>
    <!-- end of title -->
    <div class="section-center about-center">
      <!-- about img wrapper -->
      <article class="about-img">
        <img
          src="{% static '/images/hero-img.jpg'%}"
          class="about-photo"
          alt="awesome beach"
        />
      </article>
      <!-- about info -->
      <article class="about-info">
        <p>
          <h3>Soo daawo dacallada</h3>
        <p>
            SAMAWADDA TOURS is recognized by the Somaliland Ministry of Trade, industries and Tourism, as a tour operator and travel agent.  Our main aim is to provide top quality tourism services. We provide an extensive selection of tours and excursions; cultural, classical, historical, leisure, and more, to achieve our aims, we have built a team of professionals with outstanding capabilities in the tourism industry.
        </p>
        <p>
            The focus of The SAMAWADDA TOURS is to create memorable, possibly life changing, tourism experiences. We are also happy to assist other tourism needs.
            Our staffs are trained to provide you with the lowest fare for the best services, We are committed to provide our customers with high quality and well-organized tours.  
        </p>
        <a href="#" class="btn"> read more</a>
      </article>
    </div>
  </section>
<!-- end of about section -->

<!-- services -->
<section class="section services" id="services">
    <!-- section-title -->
    <div class="section-title">
      <h2>Adeegyadda <span>aan bixino</span></h2>
    </div>
    <!-- end of section-title -->
    <div class="section-center services-center">
      <!-- single service -->
      <article class="service">
        <span class="service-icon">
          <i class="fas fa-wallet fa-fw"></i>
        </span>
        <div class="service-info">
          <h4 class="service-title">Maamulka Safarka</h4>
          <p class="service-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
            cupiditate, tempore reiciendis sit ipsum consequatur!
          </p>
        </div>
      </article>
      <!-- enf of single service -->
      <!-- single service -->
      <article class="service">
        <span class="service-icon">
          <i class="fas fa-tree fa-fw"></i>
        </span>
        <div class="service-info">
          <h4 class="service-title">La-talin</h4>
          <p class="service-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
            cupiditate, tempore reiciendis sit ipsum consequatur!
          </p>
        </div>
      </article>
      <!-- enf of single service -->
      <!-- single service -->
      <article class="service">
        <span class="service-icon">
          <i class="fas fa-socks fa-fw"></i>
        </span>
        <div class="service-info">
          <h4 class="service-title">Hagidda dalxiisayaasha</h4>
          <p class="service-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
            cupiditate, tempore reiciendis sit ipsum consequatur!
          </p>
        </div>
      </article>
      <!-- enf of single service -->
    </div>
  </section>
<!--end services -->

<!-- featured tours -->
<section class="section" id="featured">
    <!-- section-title -->
    <div class="section-title">
      <h2>Dalxiisyadda  <span>Qorshaysan</span></h2>
    </div>
    <!-- end of section-title -->
    <!-- featured-center -->
<div class="section-center featured-center">
    <!-- single tour -->
    <article class="tour-card">
      <div class="tour-img-container">
        <img src="{% static '/images/dalo3.jpg'%}" class="tour-img" alt="" />
        <p class="tour-date">august 26th, 2024</p>
      </div>
      <!-- tour info -->
      <div class="tour-info">
        <div class="tour-title">
            <h4>daalo adventure</h4>
            <p>6 days</p>
        </div>
        
        <p>
            Dal ahaanna waa gobol <br>
            Dullo iyo baannanba leh <br>
            Badna way la deris thay 
        </p>
        <div class="tour-footer">
          <p>
            <span>
              <i class="fas fa-map"></i>
              Somaliland
            </span>
          </p>
          
          
        </div>
      </div>
    </article>
    <!-- end of single tour -->
    <!-- single tour -->
    <article class="tour-card">
      <div class="tour-img-container">
        <img src="{% static '/images/dal1.jpg'%}" class="tour-img" alt="" />
        <p class="tour-date">october 1th, 2024</p>
      </div>
      <!-- tour info -->
      <div class="tour-info">
        <div class="tour-title">
            <h4>sacadadiin adventure</h4>
            <p>11 days</p>
        </div>
        <p>
            Waa dagal barwaaqoo <br>
            Ninka daymo raacee <br>
            Hadba dacal ka eegee <br>
            Dalxiis ugu baqoolee <br>
            Ku dakeeya raaxada <br>
            Naftu waa u dagaysa 
            
            
            
        </p>
        <div class="tour-footer">
          <p>
            <span>
              <i class="fas fa-map"></i>
              Somaliland
            </span>
          </p>
          
          
        </div>
      </div>
    </article>
    <!-- end of single tour -->
    <!-- single tour -->
    <article class="tour-card">
      <div class="tour-img-container">
        <img src="{% static '/images/shekh2.jpg'%}" class="tour-img" alt="" />
        <p class="tour-date">september 15th, 2024</p>
      </div>
      <!-- tour info -->
      <div class="tour-info">
        <div class="tour-title">
            <h4>Explore Sh-Mountain</h4>
            <p>8 days</p>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
          deleniti sapiente earum recusandae laborum ab eligendi repellat
          commodi dolore doloremque.
        </p>
        <div class="tour-footer">
          <p>
            <span>
              <i class="fas fa-map"></i>
              Somaliland
            </span>
          </p>
          
          
        </div>
      </div>
    </article>
    <!-- end of single tour -->
    <!-- single tour -->
    <article class="tour-card">
        <div class="tour-img-container">
          <img src="{% static '/images/dhagah-kure.jpg'%}" class="tour-img" alt="" />
          <p class="tour-date">september 15th, 2024</p>
        </div>
        <!-- tour info -->
        <div class="tour-info">
          <div class="tour-title">
              <h4>Dhagah Kuure</h4>
              <p>8 days</p>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
            deleniti sapiente earum recusandae laborum ab eligendi repellat
            commodi dolore doloremque.
          </p>
          <div class="tour-footer">
            <p>
              <span>
                <i class="fas fa-map"></i>
                Somaliland
              </span>
            </p>
            
            
          </div>
        </div>
      </article>
    <!-- end of single tour -->
    <!-- single tour -->
    <article class="tour-card">
        <div class="tour-img-container">
          <img src="{% static '/images/laasgeel.jpg'%}" class="tour-img" alt="" />
          <p class="tour-date">september 15th, 2024</p>
        </div>
        <!-- tour info -->
        <div class="tour-info">
          <div class="tour-title">
              <h4>Laas Geel</h4>
              <p>8 days</p>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
            deleniti sapiente earum recusandae laborum ab eligendi repellat
            commodi dolore doloremque.
          </p>
          <div class="tour-footer">
            <p>
              <span>
                <i class="fas fa-map"></i>
                Somaliland
              </span>
            </p>
            
            
          </div>
        </div>
      </article>
    <!-- end of single tour -->
    <!-- single tour -->
    <article class="tour-card">
        <div class="tour-img-container">
          <img src="{% static '/images/saylac.jpg'%}" class="tour-img" alt="" />
          <p class="tour-date">september 15th, 2024</p>
        </div>
        <!-- tour info -->
        <div class="tour-info">
          <div class="tour-title">
              <h4>Explore saylac</h4>
              <p>8 days</p>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
            deleniti sapiente earum recusandae laborum ab eligendi repellat
            commodi dolore doloremque.
          </p>
          <div class="tour-footer">
            <p>
              <span>
                <i class="fas fa-map"></i>
                Somaliland
              </span>
            </p>
            
            
          </div>
        </div>
      </article>
    <!-- end of single tour -->
  </div>
</section>
<!-- end of featured tours -->



<!-- gallery  -->
<section id="gallery">
    <div class="gallery-center">
      <!-- single item -->
      <article class="gallery-img-container">
        <img src="{% static '/images/gallary-1.jpg'%}" class="gallery-img" alt="" />
        <a href="#" class="gallery-icon">
          <i class="fas fa-search"></i>
        </a>
      </article>
      <!-- end of single item -->

      <!-- single item -->
      <article class="gallery-img-container">
        <img src="{% static '/images/gallery2.jpg'%}" class="gallery-img" alt="" />
        <a href="#" class="gallery-icon">
          <i class="fas fa-search"></i>
        </a>
      </article>
      <!-- end of single item -->
      <!-- single item -->
      <article class="gallery-img-container">
        <img src="{% static '/images/gallary3.jpg'%}" class="gallery-img" alt="" />
        <a href="#" class="gallery-icon">
          <i class="fas fa-search"></i>
        </a>
      </article>
      <!-- end of single item -->
      <!-- single item -->
      <article class="gallery-img-container">
        <img src="{% static '/images/gallery4.jpg'%}" class="gallery-img" alt="" />
        <a href="#" class="gallery-icon">
          <i class="fas fa-search"></i>
        </a>
      </article>
      <!-- end of single item -->
      <!-- single item -->
      
      <!-- end of single item -->
    </div>
  </section>
<!-- end of gallery  -->
{% endblock content %}