{% extends 'base.html'%}
{% load static %}
{% block content %}

 <!-- about section -->
 <section class="section" id="about">
    <!-- title -->
    <div class="section-title">
      <h2>about <span>us</span></h2>
    </div>
    <!-- end of title -->
    <div class="section-center about-center">
      <!-- about img wrapper -->
      <article class="about-img">
        <img
          src="{% static '/images/hero-img.jpg'%}"
          class="about-photo"
          alt="awesome beach"
        />
      </article>
      <!-- about info -->
      <article class="about-info">
        <p>
          <h3>Soo daawo dacallada</h3>
        <p>
            SAMAWADDA TOURS is recognized by the Somaliland Ministry of Trade, industries and Tourism, as a tour operator and travel agent.  Our main aim is to provide top quality tourism services. We provide an extensive selection of tours and excursions; cultural, classical, historical, leisure, and more, to achieve our aims, we have built a team of professionals with outstanding capabilities in the tourism industry.
        </p>
        <p>
            The focus of The SAMAWADDA TOURS is to create memorable, possibly life changing, tourism experiences. We are also happy to assist other tourism needs.
            Our staffs are trained to provide you with the lowest fare for the best services, We are committed to provide our customers with high quality and well-organized tours.  
        </p>
        <a href="#" class="btn"> read more</a>
      </article>
    </div>
  </section>
<!-- end of about section -->
{% endblock content %}